@font-face {
	font-family: "CenturyGothic";
	src: url("../fonts/GOTHIC.eot");
	src: url("../fonts/GOTHIC.eot?#iefix") format("embedded-opentype"),
		url("../fonts/GOTHIC.otf") format("opentype"),
		url("../fonts/GOTHIC.svg") format("svg"),
		url("../fonts/GOTHIC.ttf") format("truetype"),
		url("../fonts/GOTHIC.woff") format("woff"),
		url("../fonts/GOTHIC.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "CenturyGothic";
	src: url("../fonts/GOTHICI.eot");
	src: url("../fonts/GOTHICI.eot?#iefix") format("embedded-opentype"),
		url("../fonts/GOTHICI.otf") format("opentype"),
		url("../fonts/GOTHICI.svg") format("svg"),
		url("../fonts/GOTHICI.ttf") format("truetype"),
		url("../fonts/GOTHICI.woff") format("woff"),
		url("../fonts/GOTHICI.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "CenturyGothic";
	src: url("../fonts/GOTHICB.eot");
	src: url("../fonts/GOTHICB.eot?#iefix") format("embedded-opentype"),
		url("../fonts/GOTHICB.otf") format("opentype"),
		url("../fonts/GOTHICB.svg") format("svg"),
		url("../fonts/GOTHICB.ttf") format("truetype"),
		url("../fonts/GOTHICB.woff") format("woff"),
		url("../fonts/GOTHICB.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "CenturyGothic";
	src: url("../fonts/GOTHICBI.eot");
	src: url("../fonts/GOTHICBI.eot?#iefix") format("embedded-opentype"),
		url("../fonts/GOTHICBI.otf") format("opentype"),
		url("../fonts/GOTHICBI.svg") format("svg"),
		url("../fonts/GOTHICBI.ttf") format("truetype"),
		url("../fonts/GOTHICBI.woff") format("woff"),
		url("../fonts/GOTHICBI.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'niagara';
	src:  url('../fonts/niagara.eot?km5ruu');
	src:  url('../fonts/niagara.eot?km5ruu#iefix') format('embedded-opentype'),
		url('../fonts/niagara.ttf?km5ruu') format('truetype'),
		url('../fonts/niagara.woff?km5ruu') format('woff'),
		url('../fonts/niagara.svg?km5ruu#niagara') format('svg');
	font-weight: normal;
	font-style: normal;
}

body , button {
	font-family: "CenturyGothic";
}
html , body {
	margin: 0;
	padding: 0
}

.section--title {
	font-size: 30px;
	text-transform: uppercase;
	color: #046c98;
	font-weight: 400;
	line-height: 1;
	position: relative;
	left: 0;
	top: 0;
	margin: 0 0 45px;
}
.section--title:first-letter {
	color: #88dcf8;
}
.section--title:before {
	content: '';
	position: absolute;
	left: -22px;
	bottom: -20px;
	width: 68px;
	height: 36px;
	background: url(../img/svg/blue-shape-for-link.svg) center no-repeat;
	background-size: 68px 36px;
}

.btn {
	padding: 15px 42px;
	outline: none;
	cursor: pointer;
	text-decoration: none;
	border: 0;
	background-color: #006a96;
	position: relative;
	left: 0;
	top: 0;
	color: #fefefe;
	font-size: 15px;
	line-height: 1;
	border-radius: 45px;
	text-transform: uppercase;
	display: inline-block;
	overflow: hidden;
}
.btn > span {
	position: relative;
	left: 0;
	top: 0;
	z-index: 2;
}
.btn:after , .btn:before {
	position: absolute;
	top: 0;
	height: 100%;
	width: 0;
	transition: width .35s;
	background-color: #88dcf8;
	content: '';
	z-index: 1;
}
.btn:before {
	left: -1%;
	border-top-left-radius: 45px;
	border-bottom-left-radius: 45px;
}
.btn:after {
	right: -1%;
	border-top-right-radius: 45px;
	border-bottom-right-radius: 45px;
}
.btn:hover:after , .btn:hover:before {
	width: 51%;
}
/*карусели*/
.slick-dots {
	position: absolute;
	left: 0;
	bottom: 30px;
	width: 100%;
	text-align: center;
	line-height: 0;
	margin: 0;
	padding: 0
}
.slick-dots li {
	list-style: none;
	display: inline;
	line-height: 0;
	margin: 0 10px 0 0;
	width: 8px;
	height: 8px;
}
.slick-dots li:last-child {
	margin-right: 0;
}
.slick-dots li button {
	color: transparent;
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	cursor: pointer;
	background: rgba(255,255,240,0.5);
	transition: background-color .35s;
	width: 8px;
	height: 8px;
	overflow: hidden;
	border-radius: 100%;
}
.slick-dots li.slick-active button {
	background-color: #001923;
}

/*
class="slick-next slick-arrow"
*/
.slick-arrow {
	color: transparent;
	outline: none;
	border: 0;
	background: transparent;
	padding: 0;
	overflow: hidden;
	margin: 0;
}
.slick-arrow:before {
	font-family: 'niagara' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-arrow.slick-next:before {
	content: "\e903";
}
.slick-arrow.slick-prev:before {
	content: "\e902";
}


/*
-------------------------------------
Шапка
-------------------------------------
*/
/*Навигация*/
.navigation {
	padding: 40px 0 42px;
	background-color: #fff;
}
.navigation--row {
	margin: 0;
	padding: 0;
	display: block;
	text-align: left;
}
.navigation--row ul {
	margin: 0;
	padding: 0;
	display: inline;
}
.navigation--row li {
	list-style: none;
	line-height: 1;
	margin: 0 40px 0 0;
	padding: 0;
	display: inline;
}
.navigation--row li:last-child {
	margin-right: 0;
}
.navigation--row li > a {
	text-decoration: none;
	position: relative;
	left: 0;
	top: 0;
	font-size: 15px;
	color: #001923;
	line-height: 1;
	text-transform: uppercase;
	transition: color .35s;
}
.navigation--row li > a:before {
	height: 19px;
	width: 37px;
	content: '';
	position: absolute;
	left: -13px;
	bottom: -9px;
	background-image: url(../img/svg/blue-shape-for-link.svg);
	background-size: 37px 19px;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0;
	transition: opacity .35s;
}
.navigation--row li > a:hover {
	color: #006a96;
}
.navigation--row li > a:hover:before {
	opacity: 1;
}

.navigation--catalog-btn {
	border: 0;
	outline: none;
	cursor: pointer;
	padding: 0 0 0 28px;
	margin: 0 40px 0 0;
	display: inline;
	position: relative;
	font-size: 15px;
	color: #001923;
	line-height: 1;
	text-transform: uppercase;
	transition: color .35s;
	background-color: transparent;
	position: relative;
	left: 0;
	top: 0;
}
.navigation--catalog-btn:before {
	font-size: 19px;
	content: "\e900";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	font-family: 'niagara' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.navigation--catalog-btn:hover {
	color: #006a96;
}

.navigation--right {
	margin: 0;
	padding: 0;
	display: block;
	text-align: right;
}
.navigation--right ul {
	margin: 0;
	padding: 0;
	display: inline;
}
.navigation--right li {
	list-style: none;
	line-height: 1;
	margin: 0 40px 0 0;
	padding: 0;
	display: inline;
}
.navigation--right li.navigation--right-tel {
	margin-right: 30px;
}
.navigation--right li.navigation--right-search {
	margin-right: 34px;
	/*паддинги для кнопки 6px*/
}
.navigation--search-btn {
	padding: 0 6px;
	margin: 0;
	border: 0;
	line-height: 1;
	background: transparent;
	outline: none;
	cursor: pointer;
	color: #001923;
	transition: color .35s;
	font-size: 16px;
}
.navigation--search-btn:hover {
	color: #006a96;
}
.navigation--search-btn:before {
	font-family: 'niagara' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e901";
}
.navigation--right li.navigation--right-lang {
	margin-right: 20px;
}
.navigation--right li:last-child {
	margin-right: 0!important;
}
.navigation--right li > a {
	text-decoration: none;
	position: relative;
	left: 0;
	top: 0;
	font-size: 15px;
	color: #001923;
	line-height: 1;
	text-transform: uppercase;
	transition: color .35s;
}
.navigation--right li > a.active , .navigation--right li > a:hover {
	color: #006a96;
}
.navigation--right li > a > b {
	font-weight: 700;
}

.navigation--logo {
	text-align: center;
	line-height: 0
}
.navigation--logo > a {
	display: inline-block;
	text-decoration: none;
	line-height: 0;
}
.navigation--logo img {
	height: 66px;
	width: 241px;
	display: inline;
}
/*
-------------------------------------
Первая карусель
-------------------------------------
*/
.first_carousel--slide {
	display: block;
	width: 100%;
	height: 790px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat
}
.first_carousel--slide h2 {
	font-size: 50px;
	text-transform: uppercase;
	color: #046c98;
	font-weight: 400;
	line-height: 1;
	position: relative;
	left: 0;
	top: 0;
	margin: 0 0 45px;
}
.first_carousel--slide h2:first-letter {
	color: #88dcf8;
}
.first_carousel--slide h2:before {
	content: '';
	position: absolute;
	left: -22px;
	bottom: -20px;
	width: 68px;
	height: 36px;
	background: url(../img/svg/blue-shape-for-link.svg) center no-repeat;
	background-size: 68px 36px;
}
.first_carousel--slide p {
	line-height: 23px;
	font-size: 15px;
	margin: 0;
	color: #001923;
}
.first_carousel--slide .container , .first_carousel--slide .row {
	height: 100%;
}
.first_carousel--slide .row div {
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: start;
	align-items: flex-start;
    display: -ms-flexbox;
    display: flex;
}

.first_carousel .slick-arrow {
	height: 57px;
	line-height: 0;
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 57px;
	height: 57px;
	z-index: 3
}
.first_carousel .slick-arrow:before {
	color: rgba(0,25,35,0.3);
}
.first_carousel .slick-prev.slick-arrow {
	left: 159px;
}
.first_carousel .slick-prev.slick-arrow:before {
	font-size: 57px;
}
.first_carousel .slick-next.slick-arrow:before {
	font-size: 57px;
}
.first_carousel .slick-next.slick-arrow {
	right: 159px;
}
/*
-------------------------------------
О компании
-------------------------------------
*/
.about_company {
	padding-bottom: 73px;
}
.about_company--row {
	width: 50%
}
.about_company--row_left {
	padding: 73px 90px 0;
}
.about_company--row_left p {
	line-height: 23px;
	margin: 0;
	font-size: 15px;
	color: #001923;
	padding-left: 111px;
	position: relative;
	left: 0;
	top: 0;
}
.about_company--row_left p .btn {
	transform: translateX(-50%);
	left: 50%;
}
.about_company--row_left p > img {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.about_company--slide {
	position: relative;
	left: 0;
	top: 0;
	padding-bottom: 52px;
	height: 100%;
}
.about_company--slide_image {
	display: block;
	position: relative;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 1;
}
.about_company--slide_info {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
	background-color: #006a96;
	padding: 33px 84px 100px 40px;
	display: block;
}
.about_company--slide_title {
	margin: 0 0 8px;
	line-height: 1;
	color: #fff;
	font-size: 21px;
	text-transform: uppercase;
}
.about_company--slide_text {
	margin: 0;
	line-height: 1;
	color: #fff;
	font-size: 15px;
}

.about_company--row.slider .slick-slide > div {
	position: relative;
	left: 0;
	top: 0;
}
.about_company--row.slider .slick-list , .about_company--row.slider .slick-track , .about_company--row.slider .slick-slide > div {
	height: 100%
}

.about_company--row.slider {
	position: relative;
	left: 0;
	top: 0;
}
.about_company--row.slider .slick-arrow {
	position: absolute;
	left: 0;
	bottom: 30px;
	z-index: 3;
	width: 40px;
	height: 40px;
	cursor: pointer;
	text-align: center;
	padding-left: 1px
}
.about_company--row.slider .slick-arrow:before {
	font-size: 39px;
	color: #88dcf8;
}
.about_company--row.slider .slick-arrow.slick-prev {
	left: 40px;
}
.about_company--row.slider .slick-arrow.slick-next {
	left: 89px;
}
/*
-------------------------------------
Преимущества
-------------------------------------
*/
.advantages--index {
	background: url(../img/svg/advantages-main-bg.svg) center no-repeat;
	background-size: auto 150%;
	padding: 69px 0 75px
}
.advantages--index ul {
	margin: 0;
	padding: 0;
	line-height: 0;
	text-align: center;
	display: block;
	width: 100%
}
.advantages--index ul li {
	margin: 0;
	padding: 0;
	line-height: 0;
	list-style: none;
	display: inline;
	text-align: center;
	
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
}
.advantages--index ul li a {
	text-decoration: none;
}
.advantages--index ul li img {
	display: inline;
	margin-bottom: 25px
}
.advantages--index ul li span {
	font-size: 14px;
	color: #001923;
	line-height: 20px;
	display: block;
	text-align: center;
	text-transform: uppercase;
}
/*
-------------------------------------
Бренды
-------------------------------------
*/
.brands {
	padding: 65px 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: background-image .5s;
}
.brands--row {
	margin-left: -5px;
	margin-right: -5px
}
.brands--item {
	padding: 5px;
}
.brands--item > div {
	height: 275px;
	border: 1px solid #d0d0d0;
	left: 0;
	top: 0;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.brands--item > div:before {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: #fff;
	transition: background-color .35s;
	content: '';
}
.brands--item > div:hover:before {
	background-color: transparent;
}
.brands--item > div > img {
	z-index: 2;
	max-width: 64.72727272727273%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	transition: opacity .35s;
}
.brands--item > div > img.gray {
	opacity: 0;
}
.brands--item > div:hover > img:not(.gray) {
	opacity: 0;
}
.brands--item > div:hover > img.gray {
	opacity: 1;
}

.brands--text > div p {
	display: block;
	font-size: 15px;
	color: #001923;
	line-height: 23px;
	margin: 0;
}
/*
-------------------------------------
Галерея на главной
-------------------------------------
*/
.gallery--section {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	overflow: hidden;
}
.gallery--container {
	display: block;
	margin-left: -4px;
	margin-right: -4px;
}
.gallery--top {
	position: absolute;
	top: 0;
	left: 0;
	width: 33.333333333333%;
    padding-right: 6px;
	z-index: 2;
}
.gallery--nav {
	padding-left: 3.333333333333333vw;
	padding-top: 4.6875vw;
	/* shape-for-gallery.svg */
	background: #006a96 url(../img/svg/shape-for-gallery.svg) top 84% right -115% no-repeat;
	background-size: auto 135%;
	display: block;
	width: 100%;
	height: 14.27083333333333vw;
}
.gallery--nav .section--title {
	color: #fff;
}
.gallery--nav .section--title:first-letter {
	color: #fff;
}
.gallery--nav .section--title:before {
	background: url(../img/svg/white-shape-for-link.svg) center no-repeat;
	background-size: 47px 25px;
}

.gallery--nav .slider-btn {
	position: absolute;
	left: 2.604166666666667vw;
	bottom: 30px;
	border: 0;
	background: transparent;
	outline: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
}
.gallery--nav .slider-btn:before {
	font-family: 'niagara' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 39px;
	color: #88dcf8;
}
.gallery--nav .slider-btn[data-action="prev"]:before {
	content: "\e902";
}
.gallery--nav .slider-btn[data-action="next"] {
	transform: translateX(49px);
}
.gallery--nav .slider-btn[data-action="next"]:before {
	content: "\e903";
}

.gallery--row {
	position: relative;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	overflow: hidden;
}
.gallery--slide {
	padding-left: 4px;
	padding-right: 4px;
	width: 33.333333333333%;
	display: none;
	transition: all .35s;
}
.gallery--item {
	height: 100%;
	position: relative;
	left: 0;
	top: 0;
	background-color: #000;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	transition: all .35s;
	
	padding-top: 29px;
	padding-right: 21px;
	padding-bottom: 20px;
	padding-left: 30px;
	
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: start;
	align-items: flex-start;
	
	overflow: hidden
}
.gallery--item:after {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.4);
	content: '';
	opacity: 0;
	transition: opacity .35s;
}
.gallery--item:hover:after {
	opacity: 1;
}

.gallery--slide_top {
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-align: center;
	align-items: center;
	opacity: 0;
	transition: opacity .35s;
	
	position: relative;
	left: 0;
	top: 0;
	z-index: 3;
}
.gallery--item:hover .gallery--slide_top {
	opacity: 1;
}
.socials--link {
	display: inline;
	line-height: 1;
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #fff;
}
.gallery--slide_top a {
	margin-right: 30px;
}
.gallery--slide_top a:last-child {
	margin-right: 0
}
.gallery--slide_top a:before {
	font-family: 'niagara' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.socials--link.vk:before {
	content: "\e904";
}
.socials--link.fb:before {
	content: "\e906";
}
.gallery--slide_top a.vk:before {
	font-size: 19px;
}
.gallery--slide_top a.fb:before {
	font-size: 23px;
}

.gallery--slide_bottom {
	width: 100%;
	position: relative;
	left: 0;
	top: 0;
	z-index: 2;
	
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-ms-flex-align: center;
	align-items: center;
	padding-right: 138px;
}
.gallery--slide_bottom h3 {
	font-size: 30px;
	color: #ffffff;
	font-weight: 400;
	margin: 0;
	line-height: 1;
	text-transform: uppercase;
	position: relative;
	left: 0;
	top: 0;
	z-index: 2;
	opacity: 0;
	transition: opacity .35s;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	display: block;
	width: 100%;
	text-align: right;
}
.gallery--item:hover .gallery--slide_bottom h3 {
	opacity: 1;
}
.gallery--slide.slide-current .gallery--slide_bottom h3 , .gallery--slide.slide-current + .slide .gallery--slide_bottom h3 {
	font-size: 16px
}
.gallery--slide.slide-current .gallery--slide_bottom , .gallery--slide.slide-current + .slide .gallery--slide_bottom {
	padding-right: 40px;
}
.gallery--slide_bottom--link {
	width: 31px;
	height: 31px;
	border-radius: 100%;
	text-decoration: none;
	background-color: rgba(0,106,150,0.5);
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	opacity: 1;
	transition: opacity .35s , width .35s , height .35s, transform .35s;
}
.gallery--slide_bottom--link:after , .gallery--slide_bottom--link:before {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: #fff;
	content: '';
}
.gallery--slide_bottom--link:after {
	width: 12px;
	height: 2px;
}
.gallery--slide_bottom--link:before {
	height: 12px;
	width: 2px;
}
.gallery--item:hover .gallery--slide_bottom--link:after , .gallery--item:hover .gallery--slide_bottom--link:before {
	opacity: 0;
}
.gallery--item:hover .gallery--slide_bottom--link {
	transform: translateY(-600%) scale(26.5) translateX(3%)
}
.gallery--slide.slide-current .gallery--item:hover .gallery--slide_bottom--link , .gallery--slide.slide-current + .slide .gallery--item:hover .gallery--slide_bottom--link {
	transform: translateY(-200%) scale(9.5) translateX(3%)
}

.gallery--slide.slide-current .gallery--slide_top a, .gallery--slide.slide-current + .slide .gallery--slide_top a {
	margin-right: 15px;
}
.gallery--slide.slide-current .gallery--slide_top a:last-child , .gallery--slide.slide-current + .slide .gallery--slide_top a:last-child {
	margin-right: 0;
}
.gallery--slide.slide-current .gallery--slide_top a.vk:before , .gallery--slide.slide-current + .slide .gallery--slide_top a.vk:before {
	font-size: 13px;
}
.gallery--slide.slide-current .gallery--slide_top a.fb:before , .gallery--slide.slide-current + .slide .gallery--slide_top a.fb:before {
	font-size: 17px;
}

/* translateY(-200%) scale(9.5) translateX(3%) */

.gallery--slide.slide-current {
	width: 16.6666666666665%;
	height: 14.73958333333334vw;
	padding-top: 5px;
	display: block;
	margin-top: 14.73958333333334vw;
}
.gallery--slide.slide-current > .gallery--item {
	height: 100%;
	position: relative;
	left: 0;
	top: 0;
}
.gallery--slide.slide-current + .slide {
	width: 16.6666666666665%;
	height: 14.73958333333334vw;
	padding-top: 5px;
	display: block;
	margin-top: 14.73958333333334vw;
}
.gallery--slide.slide-current + .slide > .gallery--item {
	height: 100%;
	position: relative;
	left: 0;
	top: 0;
}
.gallery--slide.slide-current + .slide + .slide {
	display: block;
}
.gallery--slide.slide-current + .slide + .slide + .slide {
	display: block;
}
/*
-------------------------------------
Мини новости
-------------------------------------
*/
.news--small_list {
	padding-top: 67px;
	padding-bottom: 43px;
	border-bottom: 1px solid #d0d0d0
}
.news--small_list .row > .section--title {
	margin-bottom: 63px;
}
.news--small_list .slider {
	display: block;
	width: 100%
}
.news--small_list .slider .slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-140%);
	height: 41px;
	width: 41px;
	padding-left: 1px;
	cursor: pointer;
	font-size: 39px;
	color: #006a96;
}
.news--small_list .slider .slick-arrow.slick-prev {
	left: -91px;
}
.news--small_list .slider .slick-arrow.slick-next {
	right: -91px;
}

.news--card {
	display: block;
	position: relative;
	left: 0;
	top: 0;
	height: 360px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	padding-top: 225px;
	transition: padding-top .35s;
}
.news--card:hover {
	padding-top: 195px;
}
.news--card a {
	height: 91px;
	display: block;
	width: 100%;
	background-color: #fff;
	padding-top: 25px;
	text-decoration: none;
	transition: height .35s;
}
.news--card:hover a {
	height: 121px;
}
.news--card a span {
	color: #001923;
	font-size: 15px;
	line-height: 20px;
	margin: 0;
	text-transform: uppercase;
}
.news--card-time {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	padding: 0 21px;
	text-align: left;
}
.news--card-time time {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	border-radius: 24px;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	padding-left: 8px;
	padding-right: 8px;
	background-color: #da2c2c;
}
/*
-------------------------------------
Наши клиенты
-------------------------------------
*/
.customers--section {
	padding-top: 66px;
	padding-bottom: 70px;
}
.customers--section .row > .section--title {
	margin-bottom: 90px;
}
.customers--section .slider {
	display: block;
	width: 100%
}
.customers--section .slider .slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 41px;
	width: 41px;
	padding-left: 1px;
	cursor: pointer;
	font-size: 39px;
	color: #006a96;
}
.customers--section .slider .slick-arrow.slick-prev {
	left: -91px;
}
.customers--section .slider .slick-arrow.slick-next {
	right: -91px;
}

.customers--item {
	border: 1px solid #d0d0d0;
	width: 100%;
	height: 115px;
	text-decoration: none;
	overflow: hidden;
	
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
.customers--item img {
	max-height: 72%;
}
/*
-------------------------------------
блок с картой на главной странице
-------------------------------------
*/
.map--top {
	background-color: #f6f6f7;
}
.map--top .section--title {
	margin-top: 67px;
	margin-bottom: 73px;
	margin-left: 22px
}
.map--top .slider {
	width: calc(100% - 490px);
	padding-left: 35px;
}
.file {
	position: relative;
	left: 0;
	top: 0;
	padding-left: 44px;
	line-height: 1;
	text-decoration: none;
	display: block;
}
.file h3 {
	color: #001923;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	display: block;
	font-weight: 400;
	transition: color .35s;
	width: 100%
}
.file:hover h3 {
	color: #006a96;
}
.file:before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	font-size: 35px;
	color: #001923;
	transition: color .35s;
	font-family: 'niagara' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.file:hover:before {
	color: #006a96;
}
.file.file--xls:before {
	content: "\e907";
}
.file.file--word:before {
	content: "\e909";
}
.file.file--pdf:before {
	content: "\e908";
}

.map--top--contacts {
	display: block;
	width: 100%;
	height: 60px;
	background-color: #006a96;
	padding-left: 31px;
	padding-right: 31px;
	position: relative;
	left: 0;
	top: 0;
}
.socials--link:before {
    font-family: 'niagara' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.map--top--contacts .socials--link {
	margin-right: 20px;
}
.map--top--contacts .socials--link:last-child {
	margin-right: 0;
}

.map--top--contacts .socials--link.vk:before {
	font-size: 13px
}
.map--top--contacts .socials--link.fb:before {
	font-size: 16px
}
.map--top--contacts .socials--link.inst:before {
	font-size: 16px
}

.socials--link.inst:before {
    content: "\e90a";
}

.map--top--contacts .map--top--contacts_bottom {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
	transform: translateY(100%);
	background-color: #fff;
	padding: 41px 35px 40px;
	display: block;
}
.map--top--contacts .map--top--contacts_bottom ul {
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
}
.map--top--contacts .map--top--contacts_bottom ul li {
	list-style: none;
	line-height: 1;
	width: 100%;
	position: relative;
	left: 0;
	top: 0;
	margin-bottom: 25px;
	
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-align: center;
	align-items: center;
}
.map--top--contacts .map--top--contacts_bottom ul li:last-child {
	margin-bottom: 0;
}
.map--top--contacts .map--top--contacts_bottom ul li i {
	width: 39px;
	text-align: left;
}
.map--top--contacts .map--top--contacts_bottom ul li i:before {
    font-family: 'niagara' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #001923;
}
.map--top--contacts .map--top--contacts_bottom ul li.tel i:before {
	content: "\e905";
	font-size: 23px;
}
.map--top--contacts .map--top--contacts_bottom ul li.mail i:before {
	content: "\e90c";
	font-size: 16px;
}
.map--top--contacts .map--top--contacts_bottom ul li.address i:before {
	content: "\e90b";
	font-size: 21px;
}
.map--top--contacts .map--top--contacts_bottom ul li.address i {
	-ms-flex-item-align: start;
	align-self: flex-start;
}
.map--top--contacts .map--top--contacts_bottom ul li a , .map--top--contacts .map--top--contacts_bottom ul li address {
	width: calc(100% - 39px);
	text-decoration: none;
	margin: 0;
	line-height: 20px;
	color: #001923;
	font-size: 15px;
    font-style: normal;
}
.map--bottom {
	height: 466px;
	display: block;
	width: 100%;
	background-color: #333;
}
/*
-------------------------------------
Подвал
-------------------------------------
*/
/*Копирайты*/
.footer--copyright {
	background-color: #fff;
}
.copyright--row {
	height: 67px;
	margin-left: 0;
	margin-right: 0
}
.footer--copyright p {
	font-size: 14px;
	margin: 0;
	color: #001923;
	line-height: 1.5;
}
.footer--copyright a {
	font-size: 14px;
	margin: 0;
	color: #001923;
	line-height: 1.5;
	text-decoration: none;
}
/*
=============================================
=============================================
Адаптив
=============================================
=============================================
*/
@media(max-width: 1650px){
	/*
	-------------------------------------
	Первая карусель
	-------------------------------------
	*/
	.first_carousel .slick-prev.slick-arrow {
		left: 20px;
	}
	.first_carousel .slick-next.slick-arrow {
		right: 20px
	}
}
@media(max-width: 1400px){
	/*
	-------------------------------------
	О компании
	-------------------------------------
	*/
	.about_company--row_left {
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 50px
	}
	.about_company--row_left p {
		padding-left: 50px;
	}
	.about_company--row_left p > img {
		width: 20px
	}
}



@media(max-height: 970px){
	/*
	-------------------------------------
	Шапка
	-------------------------------------
	*/
	.navigation {
		padding-top: 20px;
		padding-bottom: 22px
	}
	/*
	-------------------------------------
	Первая карусель
	-------------------------------------
	*/
	.first_carousel--slide {
		height: 500px;
	}
}